h1{
  margin: 50px auto 30px;
  letter-spacing: 1px;
}
main{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;

  h2{
    letter-spacing: 1px;
  }

  span{
    font-size: 6rem;
  }

  #content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;

    #play{
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 2px;
      padding: 25px 60px;
      cursor: pointer;
      background: blue;
      color: whitesmoke;
      border: 2px solid black;
      border-radius: 20px;
      transition: 0.2s ease;

      &:hover{
        background: rgba(0, 0, 255, 0.697);
        transform: scale(105%);
      }
    }
    .btn{
      text-transform: capitalize;
      font-size: 1.2rem;
      height: 75px;
      width: 150px;
      margin: 0 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border-radius: 20px;
      border: 1px solid blue;
      transition: 0.2s ease;
      z-index: 10;

      &:hover{
        background: rgba(0, 0, 255, 0.204);
        transform: scale(102%);
      }

      span{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        z-index: 1;
      }

      img{
        height: 40px;
        width: 40px;
      }
    }
  }
}
