@font-face {
  font-family: "font1";
  src: url(./Assets/fonts/Roboto-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "font1", sans-serif;
  outline: none;
  text-align: center;
}

body {
  color: whitesmoke;
  background: rgb(40, 40, 40);
}

h1 {
  margin: 50px auto 30px;
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 90%;
  min-width: 650px;
  margin: 0 auto;
}
main h2 {
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
}
main span {
  font-size: 6rem;
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
}
main #content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #content #play {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
  padding: 25px 60px;
  cursor: pointer;
  background: rgb(40, 81, 228);
  color: whitesmoke;
  border: 1px solid rgba(245, 245, 245, 0.654);
  border-radius: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
          box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
}
main #content #play:hover {
  -webkit-transform: scale(105%);
      -ms-transform: scale(105%);
          transform: scale(105%);
}
main #content .btn {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
  height: 75px;
  width: 175px;
  margin: 0 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgb(247, 247, 247);
  border-radius: 20px;
  border: 3px inset rgb(40, 81, 228);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  letter-spacing: 1px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
          box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
}
main #content .btn:hover {
  -webkit-transform: scale(103%);
      -ms-transform: scale(103%);
          transform: scale(103%);
  border: 3px outset rgb(40, 81, 228);
}
main #content .btn span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}
main #content .btn img {
  height: 40px;
  width: 40px;
}
main #content .container .result {
  background: rgb(247, 247, 247);
  border-radius: 10px;
  padding: 50px;
  height: 300px;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(40, 81, 228);
  -webkit-box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
          box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
}
main #content .container .result img {
  width: 300px;
  height: 300px;
  -o-object-fit: fill;
     object-fit: fill;
}
main #content .container h3 {
  margin: 50px auto;
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
}
main #content .container .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #content .container button {
  font-size: 1.5rem;
  width: 175px;
  letter-spacing: 2px;
  text-shadow: 2px 1px 7px rgba(245, 245, 245, 0.654);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 60px;
  cursor: pointer;
  background: rgb(40, 81, 228);
  color: whitesmoke;
  border: 1px solid rgba(245, 245, 245, 0.654);
  border-radius: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
          box-shadow: 2px 2px 5px 1px rgba(245, 245, 245, 0.654);
}
main #content .container button:hover {
  -webkit-transform: scale(105%);
      -ms-transform: scale(105%);
          transform: scale(105%);
}/*# sourceMappingURL=index.css.map */